<h1 class="center">Biblioteka Twojej Starej</h1>
<div class="center">
    <nav>
        <a style="text-align: center" routerLink="/GetBooksAsync">Wyświetl listę książek </a> <br>
        <a style="text-align: center" routerLink="/GetSingleBookAsync">Wyświetl jedną książkę przy pomocy ID</a> <br>
        <a style="text-align: center" routerLink="/CreateBookAsync">Dodaj książkę</a> <br>
        <a style="text-align: center" routerLink="/DeleteBookAsync">Usuń książkę</a> <br>
    </nav>
</div>
<router-outlet></router-outlet>